<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>search</title>
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="stylesheet" href="/css/search.css">
  <script src="/scripts/search.js" type="text/javascript"></script>
</head>
<div id="search_bar">
  <div class="logo_container">
    <div class="logo_cont">
      <div class="logo_inner">
        <div class="logo">
          <a href="/" href="file:///C:/Users/student/CMPS278/google-play%20project/search.html">
            <img src="https://www.gstatic.com/android/market_images/web/play_prism_hlock_2x.png" alt="goog-play-logo">
          </a>
        </div>
      </div>
      <div class="search_container">
        <div class="search_cont" id="search_cont">
          <form class="sform" action="/search" id="sform" method="GET">
            <input type="text" placeholder="Search" name="searchStr" class="search" id="Search">
            <div class="search_icon" id="search_icon">
              <button type="submit" class="search_btn" id="search_btn">
                <span class="s_icon"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="prof">
        <div class="prof_cont">
          <div class="profilec">
            <div class="profile" id="profile">
              <a href="">
                <!--<img id="profile_pic" src="https://icon-library.com/images/google-user-icon/google-user-icon-16.jpg">-->
                <p id="profile_pic"><%= img %> </p>
              </a>
            </div>
            <div class="prof_sign" id="prof_sign">
              <di id="prof_sign1">
                <div class="prof_sign2" id="prof_sign2">
                  <!--<img id="prof_img" src="https://icon-library.com/images/google-user-icon/google-user-icon-16.jpg" alt="prof_pic">
                  <form action="/upload" method="GET" class="prof_sign3" id="prof_sign3">
                    <div><input type="submit" name="change" id="change" value="Upload image"></div>
                  </form>-->
                  <form action="/logout" method="POST" class="prof_sign3" id="prof_sign_4">
                    <div><input type="submit" name="logout" id="logout" value="Log out"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="divtwo">
  <ul class="left_category">
    <li class="entertainment_li" id="entertainment_li">
      <a href="/" class="entertain_a" id="entertain_a">
        <span class="entertain_item" id="entertain_item">
          <span class="entertain_logo_cont">
            <span class="entertain_logo"></span>
          </span>
          <span class="entertain_name" id="entertain_name">Entertainment</span>
        </span>
      </a>
    </li>


    <li class="apps_li" id="apps_li">
      <a href="/apps" class="entertain_a" id="apps_a">
        <span class="apps_item" id="apps_item">
          <span class="apps_logo_cont">
            <span class="apps_logo"></span>
          </span>
          <span class="apps_name" id="apps_name">Apps</span>
        </span>
      </a>
    </li>

    <li class="movies_li" id="movies_li">
      <a href="/movies" class="entertain_a" id="movies_a">
        <span class="movies_item" id="movies_item">
          <span class="movies_logo_cont">
            <span class="movies_logo"></span>
          </span>
          <span class="apps_name" id="movies_name">Movies</span>
        </span>
      </a>
    </li>

    <li class="books_li" id="books_li">
      <a href="/books" class="entertain_a" id="books_a">
        <span class="books_item" id="books_item">
          <span class="books_logo_cont">
            <span class="books_logo"></span>
          </span>
          <span class="apps_name" id="books_name">Books</span>
        </span>
      </a>
    </li>
  </ul>

  <div class="filter_settings">

    <div class="filter_cont">
      <div class="categories">
        <div class="dropdown">
          <button class="dropbtn">
            <div class="categories_write">
              <a class="categories_btn" id="categories_btn">
                <span class="categories_span">Categories</span>
                <span class="dropdown-icon"></span>
              </a>
            </div>
          </button>
          <div class="dropdown-content">
            <% linkArr.forEach(function(link) { %>
            <a href="/<%= linkType %>/<%= link %>"><%= link %></a>
            <% }) %>
          </div>
        </div>
      </div>

      <div>
        <div class="separate"></div>
      </div>

      <div class="categ_home">
        <div class="categ_home_write" id="categ_home_write">
          <a href="/" class="home_btn" id="home_btn">
            <span class="categories_span" id="home_span">Home</span>
          </a>
        </div>
      </div>

      <div class="categ_top">
        <div class="categ_top_write" id="categ_top_write">
          <a href="/<%= linkType %>/<%= linkArr2[0] %>" class="top_btn" id="top_btn">
            <span class="categories_span" id="top_span">Top charts</span>
          </a>
        </div>
      </div>
      <div class="categ_new">
        <div class="categ_new_write" id="categ_new_write">
          <a href="/<%= linkType %>/<%= linkArr2[1] %>" class="new_btn" id="new_btn">
            <span class="new_span" id="new_span">New releases</span>
          </a>
        </div>
      </div>
    </div>

    <!--<div class="help_settings_container">
      <div class="h_s_cont">
        <form action="" class="currency">
          <label class="currency_label" for="currency">Currency: </label>
          <select style="border-color: gray;" name="currency" id="currency">
            <option style="color: gray;" value="LBP" id="LBP">LBP</option>
            <option style="color: gray;" value="USD" id="USD">USD</option>
          </select>
        </form>
      </div>
    </div>-->
    <!--<div class="help_settings_container">
      <div class="h_s_cont">
        <div class="help_container">
          <button class="help" id="help">
            <span class="help_icon" id="help_icon"></span>
        </div>
        <div class="settings_container">
          <div class="settings" id="settings">
            <span class="settings_icon" id="settings_icon"></span>
          </div>
        </div>
      </div>
    </div>-->
  </div>

  <div class="left_bottom_categ">
    <ul class="settings_category">
      <!--<li class="account_settings">
        <a href="" class="account_a">
          <span></span>
          <span class="acc">Account</span>
        </a>
      </li>-->
      <li class="account_settings">
        <a href="/wishlist" class="account_a">
          <span></span>
          <span class="acc">My wishlist</span>
        </a>
      </li>
      <li class="account_settings">
        <a href="/lastVisited" class="account_a">
          <span></span>
          <span class="acc">Last visited</span>
        </a>
      </li>
      <form action="/sendemail" method="POST">
        <li class="account_settings">
          <input value="Receive news and offers" type="submit" class="account_a" id="sendemail">
        </li>
      </form>
      <form action="/stopsendemail" method="POST">
        <li class="account_settings">
          <input value="Stop receiving news" type="submit" class="account_a" id="stopsendemail">
        </li>
      </form>
    </ul>
  </div>
</div>

</html>