<%var items = 0; var i = 0; %>
<%while(items < 3){%>
    <%if(similar[i].title == title){%>
        <% i++;%>
    <%}else{%>
      <a href="/<%= type %>/<%=similar[i]._id %>">
        <div class="listing-card card-6 pt-0 mb-3">
            <div class="listing-top w-auto h-auto" >
              <img src="<%= similar[i].mainImage %>" alt="main Image" class="w-100">
            </div>
              <div class="listing-bottom">
                <a href="/<%= type %>/<%=similar[i]._id %>" class="item-title"><%= similar[i].title %></a>
                <p class="item-subtitle"><%= similar[i].genre.join(', ') %></p>
                <div class="item-info">
                  <div class="rating">
                    <div class="stars-outer">
                      <div class="stars-inner" style="width: <%= getRating(similar[i].rating) %>"></div>
                    </div>
                  </div>
                  <div class="price">
                    <p>&#8203</p>
                  </div>
                </div>
              </div>
          </div>
          </a>
          <% i++; items++;%>
    <%}%>
  <%}%>