<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Apps on Google Play</title>
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/fad6e48f21.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="css/categories.css" />
  <link rel="stylesheet" href="css/stars.css" />
</head>
<!-- including search bar and passing strings to query for genre -->
<%- include('partials/search.ejs', {linkArr: linkArr, linkArr2: linkArr2, img:pic}) %>

<!-- star rating system -->
<%- include('partials/starFunction.ejs') %>

<body>
  <!-- Listing Container 1 -->
  <div class="category-container first-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">New & Updated Games</h2>
      </div>
      <div class="see-more">
        <form action="/seemoreapps/New & Updated Games" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (newApps.length != 0) { %>
      <% for (i=0; i<newApps.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="apps/<%= newApps[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top-app" style="background-image: url(<%= newApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= newApps[i].title %></a>
            <p class="item-subtitle"><%= newApps[i].genre.join(', ') %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(newApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="apps/<%= newApps[i]._id %>">
        <div class="listing-card">
          <div class="listing-top-app" style="background-image: url(<%= newApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= newApps[i].title %></a>
            <p class="item-subtitle"><%= newApps[i].genre.join(', ') %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(newApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>
  </div>

  <!-- Listing Container 2 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">Recommended For You</h2>
      </div>
      <div class="see-more">
        <form action="/seemoreapps/Recommended For You" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (recApps.length != 0) { %>
      <% for (i=0; i<recApps.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="apps/<%= recApps[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top-app" style="background-image: url(<%= recApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= recApps[i].title %></a>
            <p class="item-subtitle"><%= recApps[i].genre.join(', ')%></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(recApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="apps/<%= recApps[i]._id %>">
        <div class="listing-card">
          <div class="listing-top-app" style="background-image: url(<%= recApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= recApps[i].title %></a>
            <p class="item-subtitle"><%= recApps[i].genre.join(', ') %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(recApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>
  </div>

  <!-- Listing Container 3 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">Just Updated</h2>
      </div>
      <div class="see-more">
        <form action="/seemoreapps/Just Updated" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (upApps.length != 0) { %>
      <% for (i=0; i<upApps.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="apps/<%= upApps[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top-app" style="background-image: url(<%= upApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= upApps[i].title %></a>
            <p class="item-subtitle"><%= upApps[i].genre.join(', ') %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(upApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="apps/<%= upApps[i]._id %>">
        <div class="listing-card">
          <div class="listing-top-app" style="background-image: url(<%= upApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= upApps[i].title %></a>
            <p class="item-subtitle"><%= upApps[i].genre.join(', ') %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(upApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>
  </div>

  <!-- Listing Container 4 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">Discover Science</h2>
      </div>
      <div class="see-more">
        <form action="/seemoreapps/Discover Science" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->

      <% if (sciApps.length != 0) { %>
      <% for (i=0; i<sciApps.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="apps/<%= sciApps[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top-app" style="background-image: url(<%= sciApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= sciApps[i].title %></a>
            <p class="item-subtitle"><%= sciApps[i].genre.join(', ') %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(sciApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="apps/<%= sciApps[i]._id %>">
        <div class="listing-card">
          <div class="listing-top-app" style="background-image: url(<%= sciApps[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= sciApps[i].title %></a>
            <p class="item-subtitle"><%= sciApps[i].genre.join(', ') %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(sciApps[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>&#8203</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>

</html>