<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Books on Google Play</title>
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/fad6e48f21.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="css/categories.css" />
  <link rel="stylesheet" href="css/stars.css" />
</head>
<!-- including search bar and passing strings to query for genre -->
<%- include('partials/search.ejs', {linkArr: linkArr, linkArr2: linkArr2}) %>

<!-- star rating system -->
<%- include('partials/starFunction.ejs') %>

<body>
  <div>
    <div class="h_s_cont">
      <form action="" class="currency">
        <label class="currency_label" for="currency">Currency: </label>
        <select style="border-color: gray;" name="currency" id="currency">
          <option style="color: gray;" value="LBP" id="LBP">LBP</option>
          <option style="color: gray;" value="USD" id="USD">USD</option>
        </select>
      </form>
    </div>
  </div>
  <!-- Listing Container 1 -->
  <div class="category-container first-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">Top-selling eBooks</h2>
      </div>
      <div class="see-more">
        <form action="/seemorebooks/Top-selling eBooks" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (topBooks.length != 0) { %>
      <% for (i=0; i<topBooks.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="books/<%= topBooks[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= topBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= topBooks[i].title %></a>
            <p class="item-subtitle"><%= topBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(topBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (topBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = topBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="books/<%= topBooks[i]._id %>">
        <div class="listing-card">
          <div class="listing-top" style="background-image: url(<%= topBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= topBooks[i].title %></a>
            <p class="item-subtitle"><%= topBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(topBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (topBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = topBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>

  <!-- Listing Container 2 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">Business & Investing</h2>
      </div>
      <div class="see-more">
        <form action="/seemorebooks/Business & Investing" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (bussBooks.length != 0) { %>
      <% for (i=0; i<bussBooks.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="books/<%= bussBooks[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= bussBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= bussBooks[i].title %></a>
            <p class="item-subtitle"><%= bussBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(bussBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (bussBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = bussBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="books/<%= bussBooks[i]._id %>">
        <div class="listing-card">
          <div class="listing-top" style="background-image: url(<%= bussBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= bussBooks[i].title %></a>
            <p class="item-subtitle"><%= bussBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(bussBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (bussBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = bussBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>
  </div>

  <!-- Listing Container 3 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">Deals on eBooks</h2>
      </div>
      <div class="see-more">
        <form action="/seemorebooks/Deals on eBooks" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->

      <% if (dealBooks.length != 0) { %>
      <% for (i=0; i<dealBooks.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="books/<%= dealBooks[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= dealBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= dealBooks[i].title %></a>
            <p class="item-subtitle"><%= dealBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(dealBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (dealBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = dealBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="books/<%= dealBooks[i]._id %>">
        <div class="listing-card">
          <div class="listing-top" style="background-image: url(<%= dealBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= dealBooks[i].title %></a>
            <p class="item-subtitle"><%= dealBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(dealBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (dealBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = dealBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>
  </div>

  <!-- Listing Container 4 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title">Fiction & Literature</h2>
      </div>
      <div class="see-more">
        <form action="/seemorebooks/Fiction & Literature" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (litBooks.length != 0) { %>
      <% for (i=0; i<litBooks.length && i<7; i++) { %>
      <% if (i>3) { %>
      <a href="books/<%= litBooks[i]._id %>">
        <% var card = "card-" + (i + 1)%>
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= litBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= litBooks[i].title %></a>
            <p class="item-subtitle"><%= litBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(litBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (litBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = litBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <div class="listing-card">
        <div class="listing-top" style="background-image: url(<%= litBooks[i].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= litBooks[i].title %></a>
          <p class="item-subtitle"><%= litBooks[i].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(litBooks[i].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (litBooks[i].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = litBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
    </div>
  </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>

</html>