<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Google Play</title>
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/fad6e48f21.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="css/categories.css" />
  <link rel="stylesheet" href="css/stars.css" />
</head>
<!-- including search bar and passing strings to query for genre -->
<%- include('partials/postSearch.ejs') %>

<!-- star rating system -->
<%- include('partials/starFunction.ejs') %>

<body>
  <!-- Listing Container 1 -->
  <div class="category-container first-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[0] %></h2>
      </div>
      <div class="see-more">
        <form action="/seemoremov/Top-Selling Movies" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% for (i=0; i<4; i++) { %>
      <div class="listing-card">
        <div class="listing-top" style="background-image: url(<%= topMovies[i].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topMovies[i].title %></a>
          <p class="item-subtitle"><%= topMovies[i].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topMovies[i].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= topMovies[i].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <!-- Cards 5 to 7 have custom mediaquery applied to them -->
      <!-- Card -->
      <div class="listing-card card-5">
        <div class="listing-top" style="background-image: url(<%= topMovies[5].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topMovies[5].title %></a>
          <p class="item-subtitle"><%= topMovies[5].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topMovies[5].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= topMovies[5].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-6">
        <div class="listing-top" style="background-image: url(<%= topMovies[6].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topMovies[6].title %></a>
          <p class="item-subtitle"><%= topMovies[6].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topMovies[6].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= topMovies[6].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-7">
        <div class="listing-top" style="background-image: url(<%= topMovies[7].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topMovies[7].title %></a>
          <p class="item-subtitle"><%= topMovies[7].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topMovies[7].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= topMovies[6].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Listing Container 2 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[1] %> (Books)</h2>
      </div>
      <div class="see-more">
        <form action="/seemoremov/New rental movies" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% for (i=0; i<4; i++) { %>
      <div class="listing-card">
        <div class="listing-top" style="background-image: url(<%= bussBooks[i].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= bussBooks[i].title %></a>
          <p class="item-subtitle"><%= bussBooks[i].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(bussBooks[i].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (bussBooks[i].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = bussBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <!-- Cards 5 to 7 have custom mediaquery applied to them -->
      <!-- Card -->
      <div class="listing-card card-5">
        <div class="listing-top" style="background-image: url(<%= bussBooks[5].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= bussBooks[5].title %></a>
          <p class="item-subtitle"><%= bussBooks[5].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(bussBooks[5].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (bussBooks[5].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = bussBooks[5].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-6">
        <div class="listing-top" style="background-image: url(<%= bussBooks[6].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= bussBooks[6].title %></a>
          <p class="item-subtitle"><%= bussBooks[6].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(bussBooks[6].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (bussBooks[6].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = bussBooks[6].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-7">
        <div class="listing-top" style="background-image: url(<%= bussBooks[7].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= bussBooks[7].title %></a>
          <p class="item-subtitle"><%= bussBooks[7].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(bussBooks[i].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (bussBooks[7].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = bussBooks[7].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Listing Container 2 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[2] %></h2>
      </div>
      <div class="see-more">
        <form action="/seemoremov/Recommended For You" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% for (i=0; i<4; i++) { %>
      <div class="listing-card">
        <div class="listing-top" style="background-image: url(<%= topBooks[i].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topBooks[i].title %></a>
          <p class="item-subtitle"><%= topBooks[i].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topBooks[i].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (topBooks[i].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = topBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <!-- Cards 5 to 7 have custom mediaquery applied to them -->
      <!-- Card -->
      <div class="listing-card card-5">
        <div class="listing-top" style="background-image: url(<%= topBooks[5].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topBooks[5].title %></a>
          <p class="item-subtitle"><%= topBooks[5].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topBooks[5].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (topBooks[5].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = topBooks[5].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-6">
        <div class="listing-top" style="background-image: url(<%= topBooks[6].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topBooks[6].title %></a>
          <p class="item-subtitle"><%= topBooks[6].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topBooks[6].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (topBooks[6].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = topBooks[6].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-7">
        <div class="listing-top" style="background-image: url(<%= topBooks[7].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= topBooks[7].title %></a>
          <p class="item-subtitle"><%= bussBooks[7].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(topBooks[7].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <% if (topBooks[7].price.match(/Free ebook/,'')) { %>
              <p>Free</p>
              <%    } else { %>
              <%  const match = topBooks[7].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
              <p><%= match[match.length - 1] %></p>
              <%  } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Listing Container 4 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[3] %></h2>
      </div>
      <div class="see-more">
        <form action="/seemoremov/Superhero movies" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% for (i=0; i<4; i++) { %>
      <div class="listing-card">
        <div class="listing-top" style="background-image: url(<%= actionMovies[i].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= actionMovies[i].title %></a>
          <p class="item-subtitle"><%= actionMovies[i].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(actionMovies[i].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= actionMovies[i].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <!-- Cards 5 to 7 have custom mediaquery applied to them -->
      <!-- Card -->
      <div class="listing-card card-5">
        <div class="listing-top" style="background-image: url(<%= actionMovies[5].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= actionMovies[5].title %></a>
          <p class="item-subtitle"><%= actionMovies[5].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(actionMovies[5].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= actionMovies[5].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-6">
        <div class="listing-top" style="background-image: url(<%= actionMovies[6].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= actionMovies[6].title %></a>
          <p class="item-subtitle"><%= actionMovies[6].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(actionMovies[6].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= actionMovies[6].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="listing-card card-7">
        <div class="listing-top" style="background-image: url(<%= actionMovies[7].mainImage %>)"></div>
        <div class="listing-bottom">
          <a href="#" class="item-title"><%= actionMovies[7].title %></a>
          <p class="item-subtitle"><%= actionMovies[7].genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(actionMovies[7].rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <p>LBP <%= actionMovies[7].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../scripts/stars.js" charset="utf-8"></script>
</body>
<%- include('partials/footer.ejs') %>

</html>