<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Google Play</title>
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/fad6e48f21.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="css/categories.css" />
  <link rel="stylesheet" href="css/stars.css" />
</head>
<!-- including search bar and passing strings to query for genre -->
<%- include('partials/postSearch.ejs') %>

<!-- star rating system -->
<%- include('partials/starFunction.ejs') %>

<body>
  <!-- Listing Container 1 -->
  <div class="category-container first-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[0] %></h2>
      </div>
      <div class="see-more">
        <form action="/seemoremov/Top-Selling Movies" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (topMovies.length != 0) { %>
      <% for (i=0; i<topMovies.length && i<7; i++) { %>
      <% if (i>3) { %>
      <% var card = "card-" + (i + 1)%>
      <a href="movies/<%= topMovies[i]._id %>">
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= topMovies[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= topMovies[i].title %></a>
            <p class="item-subtitle"><%= topMovies[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(topMovies[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>LBP <%= topMovies[i].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="movies/<%= topMovies[i]._id %>">
        <div class="listing-card">
          <div class="listing-top" style="background-image: url(<%= topMovies[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= topMovies[i].title %></a>
            <p class="item-subtitle"><%= topMovies[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(topMovies[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>LBP <%= topMovies[i].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
      </a>
    </div>
  </div>
  </div>

  <!-- Listing Container 2 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[1] %> (Books)</h2>
      </div>
      <div class="see-more">
        <form action="/seemorebooks/Business & Investing" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (bussBooks.length != 0) { %>
      <% for (i=0; i<bussBooks.length && i<7; i++) { %>
      <% if (i>3) { %>
      <% var card = "card-" + (i + 1)%>
      <a href="movies/<%= bussBooks[i]._id %>">
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= bussBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= bussBooks[i].title %></a>
            <p class="item-subtitle"><%= bussBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(bussBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (bussBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = bussBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="movies/<%= bussBooks[i]._id %>">
        <div class="listing-card">
          <div class="listing-top" style="background-image: url(<%= bussBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= bussBooks[i].title %></a>
            <p class="item-subtitle"><%= bussBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(bussBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (bussBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = bussBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
      </a>
    </div>
  </div>

  <!-- Listing Container 3 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[2] %></h2>
      </div>
      <div class="see-more">
        <form action="/seemorebooks/Recommended For You" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (topBooks.length != 0) { %>
      <% for (i=0; i<topBooks.length && i<7; i++) { %>
      <% if (i>3) { %>
      <% var card = "card-" + (i + 1)%>
      <a href="movies/<%= topBooks[i]._id %>">
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= topBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= topBooks[i].title %></a>
            <p class="item-subtitle"><%= topBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(topBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (topBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = topBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="movies/<%= topBooks[i]._id %>">
        <div class="listing-card">
          <div class="listing-top" style="background-image: url(<%= topBooks[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= topBooks[i].title %></a>
            <p class="item-subtitle"><%= topBooks[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(topBooks[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <% if (topBooks[i].price.match(/Free ebook/,'')) { %>
                <p>Free</p>
                <%    } else { %>
                <%  const match = topBooks[i].price.match(/\$\d{0,3}\.\d{0,3}/g,'') %>
                <p><%= match[match.length - 1] %></p>
                <%  } %>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
      </a>
    </div>
  </div>

  <!-- Listing Container 4 -->
  <div class="category-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= linkArr[3] %></h2>
      </div>
      <div class="see-more">
        <form action="/seemoremov/Superhero movies" method="get">
          <button class="see-more-btn" type="submit" name="button">
            See more
          </button>
        </form>
      </div>
    </div>

    <!-- Container Body -->
    <div class="listing-body">
      <!-- Loop over first 4 top cards -->
      <!-- Card -->
      <% if (actionMovies.length != 0) { %>
      <% for (i=0; i<actionMovies.length && i<7; i++) { %>
      <% if (i>3) { %>
      <% var card = "card-" + (i + 1)%>
      <a href="movies/<%= actionMovies[i]._id %>">
        <div class="listing-card <%= card %>">
          <div class="listing-top" style="background-image: url(<%= actionMovies[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= actionMovies[i].title %></a>
            <p class="item-subtitle"><%= actionMovies[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(actionMovies[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>LBP <%= actionMovies[i].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }  else { %>
      <a href="movies/<%= actionMovies[i]._id %>">
        <div class="listing-card">
          <div class="listing-top" style="background-image: url(<%= actionMovies[i].mainImage %>)"></div>
          <div class="listing-bottom">
            <a href="#" class="item-title"><%= actionMovies[i].title %></a>
            <p class="item-subtitle"><%= actionMovies[i].genre %></p>
            <div class="item-info">
              <div class="rating">
                <div class="stars-outer">
                  <div class="stars-inner" style="width: <%= getRating(actionMovies[i].rating) %>"></div>
                </div>
              </div>
              <div class="price">
                <p>LBP <%= actionMovies[i].price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% } %>
      <% } %>
      <% } else { %>
      <h3> No related results </h3>
      <% } %>
      </a>
    </div>
  </div>
  <script src="../scripts/stars.js" charset="utf-8"></script>
</body>
<%- include('partials/footer.ejs') %>

</html>