<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Movies on Google Play</title>
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/fad6e48f21.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="../css/categories.css" />
  <link rel="stylesheet" href="../css/stars.css" />
</head>
<%- include('partials/postSearch.ejs') %>

<!-- star rating system -->
<%- include('partials/starFunction.ejs') %>

<body>
  <!-- Listing Container 1 -->
  <div class="category-container first-container">
    <div class="title-header">
      <div class="heading-title">
        <h2 class="category-title"><%= listTitle %></h2>
      </div>
    </div>
    <!-- Container Body -->
    <div class="listing-body-seemore">
      <% movies.forEach(function(movie) { %>
      <!-- Card -->
      <div class="listing-card">
        <div class="listing-top" style="background-image: url(<%= movie.mainImage %>)"></div>
        <div class="listing-bottom">
          <a class="item-title"><%= movie.title %></a>
          <p class="item-subtitle"><%= movie.genre %></p>
          <div class="item-info">
            <div class="rating">
              <div class="stars-outer">
                <div class="stars-inner" style="width: <%= getRating(movie.rating) %>"></div>
              </div>
            </div>
            <div class="price">
              <!-- Match xxx,xxx,xxx from price string-->
              <p>
                LBP <%= movie.price.match(/\d{0,3}\,*\d{0,3}\,*\d{3}/,'') %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>

</html>